* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/images/Rectangle135.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bloquear-selecao {
    user-select: none;
}

.display-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.slider {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-slides {
    width: 100%;
    height: 100%;
}

.arrow-slides {
    width: 95%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-right, .arrow-left{
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.page-control {
    width: 10%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 24px;
}

.item-page-control {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 1px;
    background-color: #8C8585;
}

.ofert-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line-style {
    width: 100%;
    height: 1px;
    background-color: #35DAF0;
}

.grid-ofert {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin: 2%;
}

.item-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8%;
}

.border {
    border-right: 1px solid #35DAF0;
    height: 50%;
}

.img-grid {
    padding: 5%;
}

.text-grid {
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
    padding: 2%;
}

.title-home {
    font-size: 30px;
    text-align: center;
    color: #D235E2;
    margin: 6% 0 5% 0;
}

.colletions-container {
    width: 90%;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 3%;
    flex-wrap: wrap;
}

.group-one-collections {
    width: 64%;
    max-height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3%;
}

.img-collection {
    width: 47%;
    filter: brightness(30%);
    transition: all 0.5s;
    cursor: pointer;
}

.img-collection:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.text-img-collection {
    position: absolute;
    padding-left: 8%;
    margin-top: 16%;
    color: #35DAF0;
}

.text-img-two-collection {
    position: absolute;
    padding-left: 39%;
    margin-top: 16%;
    color: #35DAF0;
}

.img-collection-small {
    width: 29vw;
    max-height: 37vh;
    filter: brightness(30%);
    transition: all 0.5s;
    cursor: pointer;
}

.img-collection-small:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.text-img-small-collection {
    position: absolute;
    z-index: 4;
    padding-left: 9vw;
    margin-bottom: 26%;
    color: #35DAF0;
}

.text-img-small-two-collection {
    position: absolute;
    z-index: 4;
    padding-left: 9vw;
    margin-bottom: 6%;
    color: #35DAF0;
}
/* grid -- gap -- flex-wrap -- min ou max width/height */
.group-two-collections {
    max-height: 75vh;
    display: grid;
    grid-template-rows: max-content;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4.4vh;
}

.collabs-container {
    width: 90%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
}

.items-collabs {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1000px;
    gap: 30px;
}

.item-collabs {
    min-width: 228px;
    height: 140px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: none;
    z-index: 900px;
    transition: all 0.5s;
    cursor: pointer;
}

.item-collabs:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.arrow-slides-middle {
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-comments {
    min-width: 228px;
    height: 228px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: none;
    z-index: 900px;
}

.top-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.middle-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    gap: 10px;
}

.text-comments {
    text-align: center;
    width: 190px;
}

/* @media screen 940px{
    
} */