.texto {
  z-index: 99;
  width: 100%;
  color:#C468CD;
  font-weight: bolder;
  padding:3rem 4rem;
  position: fixed;
  background-color: #202229e8;
  display: flex;
  justify-content: space-evenly;
  /* display: none; */
}
.item-sub-categoria{
  color: white;
  font-size: small;
  font-weight: 100;
}

.container{
  display: flex;
  flex-direction: column;
}