.container-upload {
  width: 100%;
  background: #ddd;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  gap: 16px;
}

.container-upload .body-arquivos-registrados {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.form-upload{
  background:#333;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 70%;
  color: #fff;
}

.input-personalizado{
  cursor: pointer;
}

.imagem{
  max-width: 100%;
}

.input-file{
  display:none;
}