.content-exibe-carrinho{
    background-color: rgb(25, 25, 52);
    color: #fff ;
    padding: 5%;
}
.contem-carrinho{
    /* background-color: #fff; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    justify-content: space-evenly;
    align-items: center;
}
.item-carrinho{
    max-width: 25%;
}
.cabecalho{
    background-color: rgba(16, 12, 20, 0.203);
    justify-content: left;
    font-weight: bolder;
}