
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

.bloquear-selecao {
    user-select: none;
} 

.title-home {
    font-size: 30px;
    text-align: center;
    color: #D235E2;
    margin: 6% 5% 5% 5%;
}

.line-style {
    margin: 2% 5% 0 5%;
    height: 1px;
    background-color: #35DAF0;
}

.arrow-slides-middle {
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 
.title-home {
    font-size: 30px;
    text-align: center;
    color: #D235E2;
    margin: 6% 0 5% 0;
} */

/* grid -- gap -- flex-wrap -- min ou max width/height */

/*

/* @media screen 940px{
    
} */