.container-geral {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.container-pedidos {
    width: 100vw;
    display: flex;
    justify-content: center;
    animation: fadeIn 5s;
}

