.container-geral {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.container-pedidos {
    width: 100vw;
    display: flex;
    justify-content: center;
    animation: fadeIn 5s;
}

.pedidos {
    background-color: rgba(255, 255, 255, 0.21);
    width: 70vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: white;
    padding: 2% 2%;
}

.pedidos .card {
    border: 2px solid #35DAF0;
    background-color: #c897ee67;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*.pedidos .card:after {
        content: "";
        position: absolute;
        top: -30%;
        right: -100%;
        width: 50%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
        animation: shine 2s 1s infinite;
      
  }*/
  
  @keyframes shine {
    to {
      opacity: 1;
      right: 210%;
    }
}

.pedidos .card img {
    border-radius: 15px;
    width: 17%;
    margin-left: 2%;
    margin-right: 2%;
}

.item-pedido {
    display: flex;
    flex-direction: row;
}

.item-pedido .pedido-titulo {
    margin-right: 2.5%;
}
.item-pedido .pedido-numero {
    font-weight: bold;
}