.product-images-slider .swiper-slide {
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}
.principal.product-images-slider .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.product-images-slider .swiper-button-prev {
    left: 30;
    color: #ff02f2;
}
.product-images-slider .swiper-button-next {
    right: 30;
    color: #ff02f2;
}
.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;

}
.product-images-slider-thumbs .swiper-slide-thumb-active {
    border: 4px solid #ff02f2;

}
.product-images-slider-thumbs-wrapper {
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
    position: relative;
}
.product-images-slider-thumbs-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1.36rem;
}
