/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

h1, h2, h3 {
    font-family: 'Montserrat Bold', sans-serif;
}

.produto {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90vw;
    font-family: 'Montserrat Bold', sans-serif;
    margin-top: 4%;
}

.slides {
    width: 51.2%;
    margin-right: 5%;
    margin-left: 5%;
    z-index: 0;
}

.informacoes {
    color: #F7F7F7;
    width: 40%;
}

.titulo {
    font-size: 1.4rem;
    margin-bottom: 5%;
    font-family: 'Montserrat Medium', sans-serif;

}

.avaliacao-vendidos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
    font-size: 0.6rem;
    width: fit-content;
    white-space: nowrap;

}

.avaliacao {
    display: flex;
    width: fit-content;
}

.avaliacao-titulo {
    margin-right: 0.4rem;
}

.rating input {
    display: none;
}

.rating {
    display: flex;
    align-items: center;
    transform: rotateY(180deg);
}

.rating label {
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.rating label:before {
    content: '\f006';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 0.7rem;
    color: #FAFF01;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 0.7rem;
    color: #FAFF01;
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}

.vendidos {
    margin-left: 8.9rem;
}

.calculo-frete {
    font-family: 'Montserrat', sans-serif;
    color: #35DAF0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 7%;
}

.calcular {
    display: flex;
    align-items: center;
    background-color: #242348;
    border-radius: 0.5rem;
    padding: 2.5% 2.5%;
}

.input-calcular {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 0.8rem;
    text-size-adjust: auto;
    color: #9B9999;
    background-color: #242348;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1.5%;

}

textarea:focus,
.input-calcular:focus {
    outline: none;
}

.button-calcular {
    display: flex;
    align-items: center;
    font-family: 'Montserrat Medium', sans-serif;
    text-size-adjust: auto;
    color: #35DAF0;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.titulo-calcular-frete {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.8rem;
    text-size-adjust: auto;
}

.cores {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 7%;
}

#opcoesCores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    font-family: 'Montserrat Bold', sans-serif;

}

#opcoesCores .selected {
    border: 3px solid #F7A6FF;
}

#opcoesTamanhos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    font-family: 'Montserrat Bold', sans-serif;

}

#opcoesTamanhos .selected {
    border: 3px solid #F7A6FF;
}

#cor1 {
    height: 6vh;
    width: 10%;
    background-color: #F7F7F7;
    border: 1px solid #F7A6FF;
    border-radius: 25%;
    cursor: pointer;
}

#cor2 {
    height: 6vh;
    width: 10%;
    background-color: #050505;
    border: 1px solid #F7A6FF;
    border-radius: 25%;
    margin-left: 2%;
    cursor: pointer;
}

#cor3 {
    height: 6vh;
    width: 10%;
    background-color: #0B198F;
    border: 1px solid #F7A6FF;
    border-radius: 25%;
    margin-left: 2%;
    cursor: pointer;
}

.tamanhos {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 8%;
    height: 12vh;
}

#tamanhoP, #tamanhoM, #tamanhoG {
    height: 6vh;
    width: 10%;
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #F7A6FF;
    border-radius: 25%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.comprar {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 1.1rem;
    background-color: #35DAF0;
    border-radius: 0.8rem;
    padding: 1.3% 0%;
    width: 70%;
    border: 1px solid #35DAF0;
    cursor: pointer;
}

.preco {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.preco-vista {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 1%;
}

.preco-vista-riscado {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
    text-decoration: line-through;
    color: #787676;
    margin-right: 2%;
}

.preco-vista-sem-risco {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.2rem;
    color: #F7A6FF;
}

.parcelas {
    text-align: start;
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1rem;
    margin-bottom: 5.5%;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../../../../assets/fontes/Montserrat-Thin.eot');
    src: url('../../../../assets/fontes/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fontes/Montserrat-Thin.woff2') format('woff2'),
        url('../../../../assets/fontes/Montserrat-Thin.woff') format('woff'),
        url('../../../../assets/fontes/Montserrat-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../../../assets/fontes/Montserrat-Bold.eot');
    src: url('../../../../assets/fontes/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fontes/Montserrat-Bold.woff2') format('woff2'),
        url('../../../../assets/fontes/Montserrat-Bold.woff') format('woff'),
        url('../../../../assets/fontes/Montserrat-Bold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../../../assets/fontes/Montserrat-Medium.eot');
    src: url('../../../../assets/fontes/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fontes/Montserrat-Medium.woff2') format('woff2'),
        url('../../../../assets/fontes/Montserrat-Medium.woff') format('woff'),
        url('../../../../assets/fontes/Montserrat-Medium.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}