.container-card {
    width: 95%;
    display: flex;
    justify-content: center;
}

.container-card .card {
    border: 2px solid #35DAF0;
    background-color: #c897ee73;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.pedidos-esquerda {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.pedidos-esquerda img {
    border-radius: 15px;
    width: 40%;
    margin-right: 6%;
}

.pedidos-direita {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: right;
}

.infos-pedidos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat Medium', sans-serif;
}

.infos-pedidos .item-pedido {
    display: flex;
    flex-direction: row;
    color: white;
}

.infos-pedidos .item-pedido .pedido-titulo {
    margin-right: 2.5%;
    font-family: 'Montserrat Medium', sans-serif;
}

.infos-pedidos .item-pedido .pedido-numero {
    font-family: 'Montserrat Bold', sans-serif;
}

.infos-pedidos .pedido-destinatario {
    color: white;
    font-family: 'Montserrat Medium', sans-serif;
}

.infos-pedidos .pedido-detalhes {
    color: #35DAF0;
    font-style: italic;
    cursor: pointer;

    font-family: 'Montserrat Bold', sans-serif;

    /* text-shadow:
        0 0 5px rgba(170, 233, 243, 0.541),
        0 0 5px rgba(170, 233, 243, 0.443),
        0 0 5px rgba(170, 233, 243, 0.281),
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff; */
}

.data {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat Bold', sans-serif;
}

.data-titulo {
    font-family: 'Montserrat Medium', sans-serif;
    color: white;
}

.modal {

    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);

    animation: AnimateBG 15s ease infinite, fadeIn 2s;

    width: 75vw;
    height: 80vh;
    margin: 10vh 12.5vw;
    padding: 2.5% 2.5%;
    border-radius: 10px;
}

.modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal img {
    width: 35%;
    margin-right: 5%;
    border-radius: 5px;
    border: 3px solid #35DAF0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-lado-esquerdo {
    width: 100%;
}

.titulo-pedido {
    font-size: 20px;
    font-family: 'Montserrat Bold', sans-serif;
    color: white;
    margin-bottom: 4%;
}

.numero-titulo-pedido {
    color: black;
    margin-bottom: 4%;
}

.descricao {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.infos {
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 4% 4%;
    border-radius: 5px;
    border: 3px solid #35DAF0;
    font-family: 'Montserrat Medium', sans-serif;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.fechar {
    color: #35DAF0;
    background-color: black;
    cursor: pointer;
    width: 4%;
    height: 8%;
    border-radius: 100%;
}

.fechar:hover {
    background-color: rgb(39, 38, 38);
}

.tamanho-cor {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat Bold', sans-serif;
}

.cor {
    width: 20%;
}

.tamanho {
    margin-right: 10%;
    width: 20%;
}
.cor-box {
    height: 6vh;
    width: 50%;
    background-color: #050505;
    border: 3px solid #35DAF0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
}

.titulo-cor {
    font-family: 'Montserrat Bold', sans-serif;
    color: white;
    margin-bottom: 6%;
}

.titulo-tamanho {
    font-family: 'Montserrat Bold', sans-serif;
    color: white;
    margin-bottom: 6%;
}

.tamanho-box {
    height: 6vh;
    width: 50%;
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.2rem;
    border: 3px solid #35DAF0;
    background-color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../../assets/fontes/Montserrat-Thin.eot');
    src: url('../../../../assets/fontes/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fontes/Montserrat-Thin.woff2') format('woff2'),
        url('../../../../assets/fontes/Montserrat-Thin.woff') format('woff'),
        url('../../../../assets/fontes/Montserrat-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../../../assets/fontes/Montserrat-Bold.eot');
    src: url('../../../../assets/fontes/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fontes/Montserrat-Bold.woff2') format('woff2'),
        url('../../../../assets/fontes/Montserrat-Bold.woff') format('woff'),
        url('../../../../assets/fontes/Montserrat-Bold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../../../assets/fontes/Montserrat-Medium.eot');
    src: url('../../../../assets/fontes/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fontes/Montserrat-Medium.woff2') format('woff2'),
        url('../../../../assets/fontes/Montserrat-Medium.woff') format('woff'),
        url('../../../../assets/fontes/Montserrat-Medium.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}