.nossas-redes{
    padding: 5%;
    width: 100%;
    justify-content: center;
    display: flex;
}
.container-redes{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.redes-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.redes-icons svg{
    width: 70px;
    height: 70px;
    color: #35DAF0;
}
.texto-rosag{
    color: #F7A6FF;
    font-size: 24px;
    font-weight: 900;
}
.texto-rosap{
    color: #F7A6FF;
    font-size: 12px;
    font-weight: 900;
}
.grid-container-redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    margin-bottom: 100px;
}
.grid-container-redes img{
    max-width: 100%;
}

@media (max-width: 500px) {
    .container-redes {
        flex-direction: column;
        align-items: center;
    }

    .redes-icons {
        margin-bottom: 3%;
    }

    .grid-container-redes{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: 0 10% 5% 10%;
    }

    .grid-container-redes img{
        width: 100%;
    }
}