.content-inf-usuario{
    display: flex;
    border: solid 1px gray;
}
.nav-usuario{
    color: white;
}

/* sidebar */

.icon {
  color: #35DAF0;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome .user {
  font-size: 40px;
  margin-right: 9px;
}

.welcome .welcome-user-text {
  font-size: 16px;
  color: white;
}

.sidebar {
    background: rgb(0, 7, 61);
    color: #35DAF0;
    height: 100vh;
    overflow-y: auto;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .logo {
    font-size: 18px;
    line-height: 0;
  }
  .bars {
    width: 50px;
    text-align: center;
  }

  .hide {
    display: none;
  }
  
  .routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .link {
    display: flex;
    color: #35DAF0;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .link:hover {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  /* .active {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
  } */
  .link_text {
    white-space: nowrap;
    font-size: 15px;
  }
  
  .menu {
    display: flex;
    color: white;
  
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;
  }
  .menu_item {
    display: flex;
    gap: 10px;
  }
  .menu_container {
    display: flex;
    flex-direction: column;
  }

  .menu_container .link {
    padding-left: 20px;
    border-bottom: #fff 0.5px solid;
  }
  
  #container-principal {
    width: 20%;
    /* background: rgb(0, 7, 61); */
    color: #35DAF0;
    float: left;
    min-height: 100vh;
}

.container-geral {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-geral .container-corpo {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0;
}

/*Olá, Usuário!*/

.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 6% 4% 6% 6%;
    margin-bottom: 6%;
  }
  
  .welcome .user {
    font-size: 50px;
    margin-right: 9px;
  }
  
  .welcome .welcome-user-text {
    font-size: 16px;
    color: white;
    font-family: 'Montserrat Medium', sans-serif;

  }

  /* opções */

  #sidebar-user-option1, #sidebar-user-option2, #sidebar-user-option3, 
  #sidebar-user-option4, #sidebar-user-option5 {
    padding: 6% 0% 6% 5%;
    font-family: 'Montserrat Medium', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
  }


  .icon {
    color: #35DAF0;
    font-size: 24px;
    margin-right: 3%;
  }

  .icon-title {
    font-family: 'Montserrat Medium', sans-serif;
  }

  #container-principal .selected {
    color: #35DAF0;
    border-left: 4px solid #35DAF0;
    background-color: #c897ee3b;
  }


  @font-face {
    font-family: 'Montserrat';
    
    src: url('../../assets/fontes/Montserrat-Thin.eot');
    src: url('../../assets/fontes/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fontes/Montserrat-Thin.woff2') format('woff2'),
        url('../../assets/fontes/Montserrat-Thin.woff') format('woff'),
        url('../../assets/fontes/Montserrat-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../assets/fontes/Montserrat-Bold.eot');
    src: url('../../assets/fontes/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fontes/Montserrat-Bold.woff2') format('woff2'),
        url('../../assets/fontes/Montserrat-Bold.woff') format('woff'),
        url('../../assets/fontes/Montserrat-Bold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../assets/fontes/Montserrat-Medium.eot');
    src: url('../../assets/fontes/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fontes/Montserrat-Medium.woff2') format('woff2'),
        url('../../assets/fontes/Montserrat-Medium.woff') format('woff'),
        url('../../assets/fontes/Montserrat-Medium.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}